html { 
   width:100%; 
   height:100%; 
   
}

body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	height:100%;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	background-image: url("../images/ST_BG.jpg");
	background-position: center;
    overflow-x: hidden;

}

.header{
	color: #ffffff;

}

.avatarContainer{
	display: inline-block;
	text-align: center;
	background-color: rgba(0, 102, 0, .7);
	width: 140px;
	/*border-radius: 3px;*/
	border: 2px solid #e6e600;
	margin: 10px 0;

}

.imageScaler{
	width: 80px;
	height: 105px;

}
.heightDummy{
	height:170px;

}
.textHeight{
	height:60px;
}

.enemyClick{
	display:none;
	background-color: rgba(102, 153, 153, .7);

}

.enemyHover{
}

.enemyHover:hover{
	background-color: #ff5050;
	color: #ffffff;
	border-color: #ffffff;
}

.avatarHover{
}

.avatarHover:hover{
	background-color: #00cc00;
}

.attackClick{
	display:none;
	background-color: rgba(255, 80, 80, .7);
	color: #ffffff;
	border-color: #ffffff;
}


.dead {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.panel{
	margin-bottom: 0px;
	border: 2px solid white;
	background-color: rgba(51, 184, 255, .7);
	color: #111111;
	border-radius: 0px;

}

.panel-body{
	padding: 5px 0px 5px 15px;
	font-size: 16px;
}

.playerRow{
	margin-right: 8px;
}
.buttonMargin{

	margin-top: 10px;
}


#cpuText{
	color: #cc0000;
}

@media(max-width: 1195px){
	.playerRow{
		margin-right: 0px;
		padding-right: 0px;
	}
	.avatarContainer{
		width: 135px;
		margin: 10px 0px;
		font-size: 12px;
	}
}


@media(max-width: 991px){
	.heightDummy{
		height: 0px;

	}
	.avatarContainer{
		width: 100%;
	}
}






